<div class="ov-main">
  <div class="article">
    <h1>Nhận 3 tháng dùng Premium miễn phí</h1>
    <h2>
      Tận hưởng trải nghiệm nghe nhạc không quảng cáo, không cần kết nối mạng và
      nhiều lợi ích khác. Hủy bất cứ lúc nào.
    </h2>
    <div class="event">
      <button>NHẬN 3 THÁNG MIỄN PHÍ</button>
      <button class="btn-view-pack">XEM CÁC GÓI</button>
    </div>
    <div style="font-size: 11px; margin-top: 50px">
      Chỉ áp dụng cho gói Individual. Sau đó là 59,000₫/tháng.
      <a
        style="color: #fff"
        href="https://fontawesome.com/search?q=c&s=solid%2Cbrands"
        >Có áp dụng các điều khoản và điều kiện.</a
      >
      Chỉ dành cho những người chưa dùng thử gói Premium. Ưu đãi kết thúc vào
      ngày 12/05/2022.
    </div>
  </div>
  <div class="img-view"></div>
</div>
<app-intro></app-intro>
<app-util></app-util>
<app-payment></app-payment>
