.ov-main {
  color: #fff;
  font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
  background-color: rgb(153, 51, 153);
  padding: 15px 10%;
  display: flex;
  font-weight: 400;
  .article {
    margin: 0 32px 0 0;
    padding: 72px 0;
    width: 60%;
    h2 {
      margin-top: 30px;
    }
    .event {
      margin: 35px 0px 0px;
      button {
        margin-right: 8px;
        justify-content: center;
        border: 2px solid rgb(25, 20, 20);
        text-decoration: none !important;
        border-radius: 500px;
        padding-inline: 32px;
        padding-block: 14px;
        background-color: rgb(25, 20, 20);
        color: #fff;
        font-weight: bold;
        font-size: 14px;
      }
      .btn-view-pack {
        border: 2px solid #fff;
        background-color: rgb(153, 51, 153);
      }
    }
  }
  .img-view {
    width: 40%;
    background-image: url(https://i.scdn.co/image/ab678e040000ed3a01867bcd60d82286e34b9746);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
