<div class="payment">
  <h2>Chọn gói Premium của bạn</h2>
  <h3>Nghe không giới hạn trên điện thoại, loa và các thiết bị khác.</h3>
  <div class="main">
    <ng-container *ngFor="let num of listNum">
      <div class="element">
        <span class="title">Thanh toán một lần</span>
        <h3>Mini</h3>
        <p>Từ 2,300<sup>đ</sup>/ngày<br />1 tài khoản</p>
        <hr />
        <ul>
          <li>
            <i class="fa-solid fa-check"></i>Nghe nhạc không quảng cáo trên
            thiết bị di động
          </li>
          <li><i class="fa-solid fa-check"></i>Nhóm nghe chung</li>
          <li>
            <i class="fa-solid fa-check"></i>Tải 30 bài hát xuống 1 thiết bị di
            động
          </li>
        </ul>
        <button>BẮT ĐẦU</button>
        <a href="fb.com">Có áp dụng điều khoản và điều kiện.</a>
      </div>
    </ng-container>
  </div>
</div>
