<div class="menu-left">
    <div class="menu-left__logo">
        <i class="fa-brands fa-spotify"></i>
        <span>Spotify</span>
    </div>
    <div class="menu-left__tool">
        <ul>
            <li><i class="fa-solid fa-house"></i>Home</li>
            <li><i class="fa-solid fa-magnifying-glass"></i>Search</li>
            <li><i class="fa-solid fa-house"></i>Your Library</li>
        </ul>
    </div>
    <div class="menu-left__playlist">
        <ul>
            <li><button><i class="fa-solid fa-square-plus"></i>Create Playlist</button></li>
            <li><button><i class="fa-solid fa-magnifying-glass"></i>Liked Songs</button></li>
        </ul>
    </div>
    <hr>
    <div class="menu-left__my-list">
        <ul>
            <li><button>My Playlist #4</button></li>
            <li><button>My Playlist #3</button></li>
            <li><button>Danh sách phát của tôi #2</button></li>
            <li><button>Danh sách phát của tôi #1</button></li>
        </ul>
    </div>
    <div class="menu-left__sub">
        <ul>
            <li><button><i class="fa-solid fa-circle-down"></i>Install App</button></li>
        </ul>
    </div>
</div>
