<div class="util">
    <h2>Lý do dùng gói Premium?</h2>
    <ul>
        <li>
            <div class="element">
                <div class="img">
                </div>
                <p class="bold">Tải nhạc xuống.</p>
                <p>Nghe nhạc mọi nơi.</p>
            </div>
        </li>
        <li>
            <div class="element">
                <div class="img i1">
                </div>
                <p class="bold">Nghe nhạc không quảng cáo.</p>
                <p>Thưởng thức âm nhạc không gián đoạn.</p>
            </div>
        </li>
        <li>
            <div class="element">
                <div class="img i2">
                </div>
                <p class="bold">Phát bài hát bất kỳ.</p>
                <p>Ngay cả trên thiết bị di động.</p>
            </div>
        </li>
        <li>
            <div class="element">
                <div class="img i3">
                </div>
                <p class="bold">Chuyển bài không giới hạn.</p>
                <p>Chỉ cần nhấn nút tiếp.</p>
            </div>
        </li>
    </ul>
</div>
