.util {
  color: #000;
  font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
  padding: 75px 10%;
  text-align: center;
  background-color: #fff;
  font-size: 16px;
  h2 {
    font-size: 40px;
  }
  ul {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: space-between;
    li {
      width: 270px;
      vertical-align: top;
      .element {
        .img {
          margin: 0px auto 40px;
          width: 140px;
          height: 140px;
          display: block;
          background-image: url(https://i.scdn.co/image/ab671c3d0000f430df61a7d75be4ed36c0857a61);
          background-position: center top;
          border-radius: 50%;
          flex-grow: 1;
          background-repeat: no-repeat;
          background-size: contain;
        }
        .bold {
          font-weight: 700;
          font-size: 21px;
        }
        .i1 {
            background-image: url(https://i.scdn.co/image/ab671c3d0000f430773401f794c2cc9a1f161cdc);
        }
        .i2 {
            background-image: url(https://i.scdn.co/image/ab671c3d0000f430d5f682f0043198ce409efaab);
        }
        .i3 {
            background-image: url(https://i.scdn.co/image/ab671c3d0000f430311a399af710a733778c610c);
        }
      }
    }
  }
}
