.user-layout {
  .container {
    display: flex;
    height: fit-content;
    &__menu-left {
      background-color: #000;
    }
    &__main {
      width: 100%;
      .content {
        min-height: 700px;
      }
    }
  }
  .play-music {
    width: 100%;
    position: fixed;
    bottom: 0;
  }
}
