<div class="play-music">
  <div class="now-playing-widget">
    <div class="img">
      <img
        src="https://i.scdn.co/image/ab67616d00004851240447f2da1433d8f4303596"
      />
    </div>
    <div class="description">
      <a>Butter</a>
      <a class="description__sub">BTS</a>
    </div>
    <div class="wid-tool">
      <i class="fa-solid fa-heart"></i>
      <i class="fa-solid fa-laptop-file"></i>
    </div>
  </div>
  <div class="play-controls">
    <div class="play-control-items">
      <i class="fa-solid fa-shuffle"></i>
      <i class="fa-solid fa-backward-step"></i>
      <i class="fa-solid fa-circle-play main"></i>
      <i class="fa-solid fa-forward-step"></i>
      <i class="fa-solid fa-repeat"></i>
    </div>
    <div class="playback-bar">
      <div class="play">
        <span>0:25</span>
        <progress id="file" value="32" max="100">32%</progress>
        <span>2:44</span>
      </div>
    </div>
  </div>
  <div class="music-bar">
    <i class="fa-solid fa-microphone-slash"></i>
    <i class="fa-solid fa-list"></i>
    <i class="fa-solid fa-house-laptop"></i>
    <i class="fa-solid fa-headphones-simple"></i>
    <progress id="file" value="32" max="100">32%</progress>
  </div>
</div>
