.play-music {
    background-color: #181818;
    color: #b3b3b3;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    .now-playing-widget {    
        display: flex;
        justify-content: flex-start;
        .img {
            margin-top: auto;
            margin-bottom: auto;
            display: block;
        }
        .description {
            font-size: 14px;
            margin-left: 10px;
            margin-right: 15px;
            margin-top: auto;
            margin-bottom: auto;
            a {
                display: block;
            }
            &__sub {
                font-size: 11px;
                color: #fff;
            }
        }
        .wid-tool {
            margin-top: auto;
            margin-bottom: auto;
            i {
                margin-left: 10px;
            }
        }
    }
    .play-controls {
        margin-top: auto;
        margin-bottom: auto;
        .play-control-items {
            display: flex;
            justify-content: center;
            i {
                font-size: 20px;
                margin-right: 10px;
                margin-left: 10px;
                margin-top: auto;
                margin-bottom: auto;
            }
            .main {
                color: #fff;
                font-size: 30px;
            }
        }
    }
    .playback-bar {
        font-size: 11px;
        margin-top: 5px;
        progress {
            margin-left: 5px;
            margin-right: 5px;
            color: #fff;
            width: 500px;
            height: 10px;
            vertical-align: middle;
        }
    }
    .music-bar {
        margin-top: auto;
        margin-bottom: auto;
        padding-right: 10px;
        i {
            margin-left: 5px;
            margin-right: 5px;
        }
        progress {
            margin-left: 5px;
            width: 100px;
            height: 10px;
            vertical-align: middle;
        }
    }
}